**/.classpath
**/.dockerignore
**/.env*
certs/
secrets/
*.pem
*.key
*.pfx
*.crt
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/charts
**/docker-compose*
**/obj
**/out
