@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5">
    <h1 class="display-4 mb-3">Welcome to Swimming Booking System</h1>
    <p class="lead mb-4">Hệ thống quản lý đặt lịch hồ bơi tiện lợi và nhanh chóng.</p>
</div>
